.res-box {
  width: 70vw;
  height: 300px;
  background-color: #fafafa;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form {
    display: flex;
    margin-top: 10px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  margin-left: 8px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}
